<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nueva Mascota</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>
<body>

    <h3>Nueva Mascota</h3>

    <div class="container">
    <form action="{{request.path}}" method="POST">

        <!-- Controles: Nombre, Raza, Edad, Género, Cuidador, Telefono, Comentarios-->

        <label for="nombre">Nombre </label><input class="form-control" type="text" name="nombre"/>
        <label for="raza">Raza </label><input class="form-control" type="text" name="raza"/>
        <label for="edad">Edad </label><input class="form-control" type="text" name="edad"/>
        <label for="género">Género </label><input class="form-control" type="text" name="género"/>
        <label for="cuidador">Cuidador </label><input class="form-control" type="text" name="cuidador"/>
        <label for="telefono">Telefono </label><input class="form-control" type="text" name="telefono"/>
        <label for="comentarios">Comentarios </label><input class="form-control" type="text" name="comentarios"/>
        <input type="submit" value="Agregar" class="btn btn-primary"/>
   
    </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    
</body>
</html>